*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body{
    width: 100%;
    height: 100vh;
    background-color:#1b262c;
    font-family: Poppins;
}
.page-content{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align: center;
    width: 100%;
}
.navbar{
    display:flex;
    justify-content:space-around;
    width: 100%;
    height: 10vh;
    background-color:#3282b8;
}
.navbar-inner{     
    margin: 10px 0;
}
.choose-topic{
    WIDTH: 100%;
    color: #99d8d0;
    margin: 25px 0;
    font-size:25px;
}
.bottom-nav{
    width: 100%;
    font-size: 30px;
    color:snow;
    position: fixed;
    bottom:0;
    margin:15px 0 ;
}
.display-selected-option{
    color:white;
    font-size:20px;
    margin-top:90px;
    width: 50%;
}
.continue-button button{
    width: 200px;
    font-size: 25px;
    font-family: Poppins;
    margin: 20px 0 ;
    padding:10px;
    color:snow;
    background-color: #3282b8;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    border: none;
    transition: all 0.2s;
    display:none;
    margin-top: 80px;
    box-shadow: 0 0 10px #8d93ab;

}
.continue-button button:hover{
    color: #3282b8;
    background-color: snow;
}
.display-none{
    transition:0.2s all ;
}
/* from below style for gameplay starts*/

.gameplay-container{
    color:snow;
    display:none;
    transition: 0.2s ease-in-out;
}

#questions{
    font-size:20px;
    margin: 50px 0;
    margin-top: 80px;
}

#options{
    font-size:40px;
    margin: 100px 0;
}
.btn-options,#question-button{
    margin: 20px;
    font-size:20px;
    margin:40px 030px;

}
.btn-options , #score , .restart{
    padding :20px 10px;
    width:100%;
    align-self: center;
    font-size:20px;
    width: 200px;
    color: snow;
    background-color:#3282b8;
    border: none;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #8d93ab;
}

#score{
    margin-top: 20px;
    border-radius: 0px;
}

#home{
    width: 150px;
    font-size:20px;
    padding: 15px 10px;
    color: snow;
    background-color:#3282b8;
    border: none;
    text-decoration: none;
    outline: none;
    border-radius: 10px;   
    box-shadow: 0 0 10px #8d93ab;

}

.btn-options:hover , #continue:hover , .restart:hover , #home:hover{
    color: #3282b8;
    background-color: snow;
}
.final-page{
    display: none;
}
.final-page_p{
    font-size: 25px;
    color: snow;
    display: flex;
    flex-direction: column;
    margin:100px;
}

.correct{
	border: 4px solid #4dcc7d;
	box-shadow: 0 0 10px #31b43a;
}
.wrong {
	border: 4px solid #ef0d0d;
	box-shadow: 0 0 10px #b10808;
}